<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="SATeC.Properties.Settings.SATeCConnectionString" connectionString="Data Source=DELLMIKEL\SQL2014;Initial Catalog=SATeCDiembre;User ID=sa"
        providerName="System.Data.SqlClient" />
    <add name="SATeC.Properties.Settings.SATeCDiembreConnectionString"
        connectionString="Data Source=DELLMIKEL\SQL2014;Initial Catalog=SATeCDiembre;Persist Security Info=True;User ID=sa"
        providerName="System.Data.SqlClient" />
    <add name="SATeC.Properties.Settings.SATeC_SenderosConnectionString"
        connectionString="Data Source=AZUSMIKE\SQLSERVER2014;Initial Catalog=SATeC_Senosiain;User ID=sa;Password=Chilac1981#"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<system.windows.forms jitDebugging="true" />
</configuration>
